*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}
body{
    background-color: #fff;
}

.container{
    width: 410px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* align-content: center; */    
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;   
}

.logo img{
    /* margin-bottom: 50px; */
}

.logo p{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #222222;
    margin: 50px auto;
}

.category{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

#sales{
    width: 123px;
    height: 48px;
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
    border-radius: 0px 4px 4px 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9B9B9B;
}

#customer{
    width: 123px;
    height: 48px;
    background: #DB3022;
    border: none;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}


form{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

input{
    margin-bottom: 10px;
    margin-top: 10px;
}

.text{
    padding: 15px;
}

#button{
    height: 48px;
    background: #DB3022;
    border: none;
    border-radius: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form a{
    text-decoration: none;
    font-size: small;
    color: #DB3022;
    text-align: right;
    margin-bottom: 10px;
    margin-top: 10px;
}

#register{
    font-size: small;
    margin-top: 20px;
}

#register a{
    text-decoration: none;
    font-size: small;
    color: #DB3022;
    text-align: right;
    margin-bottom: 10px;
}


        /* Home Sytle */
.nav-bar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    /* border: 5px solid black; */
    background: #FFFFFF;
    box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
}

.nav-bar .search-bar{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    position: relative;
    flex: 1;
}

.nav-bar .search-bar .btn-search{
    position: absolute;
    right: 130px;
    top: 50%;
    transform: translateY(-50%);
}

.nav-bar .btn-choices{
    display: flex;
    justify-content: end;
    align-items: center;
    /* border: 2px solid black; */
}

.nav-bar .btn-choices a{
    margin-left: 20px;
}

.nav-bar .btn-choices #login, #signup{
    width: 100px;
    height: 36px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.nav-bar .btn-choices #login{
    color: #FFFFFF;
    background: #DB3022;
}

.nav-bar .btn-choices #signup{
    color: #9B9B9B;
    border: 1px solid #9B9B9B;
}

.nav-bar .search-bar input{
    width: 507px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #8E8E93;
    border-radius: 23px;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #9B9B9B;
    padding: 20px;
}

.main-content{
    width: 100%;
    padding: 47px 150px;
    display: flex;
    flex-direction: column;
    background: #e5e5e5;
}

.main-content h1{
    font-weight: bold;
    font-size: 34px;
    line-height: 34px;
    color: #222222;
    margin-top: 81px;
}

.main-content span{
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #9B9B9B;
    margin-top: 4px;
}

.main-content .promotion{
    display: flex;
    justify-content: space-around;
    /* border: 2px solid black; */
}

.main-content .category{
    /* border: 2px solid black; */
    margin-top: 25px;
    width: 100%;
    /* height: 315px; */
    padding: 25px 60px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(173, 173, 173, 0.25);
    border-radius: 8px;
}

.main-content .category .rectangle{
    width: 110px;
    height: 120px;
    border: 1px solid #9B9B9B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
}

.main-content .category .rectangle span{
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #222222;
}


.main-content .new-brand{
    margin-top: 25px;
    width: 100%;
    /* padding: 25px 60px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    /* justify-content: space-around;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(173, 173, 173, 0.25);
    border-radius: 8px; */
}

.main-content .new-brand .mask-groub{
    width: 208px;
    height: 278px;
    /* border: 1px solid #9B9B9B; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background: #FFFFFF;
    box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
    border-radius: 8px;
    margin: 25px;
}

.main-content .new-brand .mask-groub .description{
    height: 100%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    flex: 1;
}

.main-content .new-brand .mask-groub img{
    height: 136px;
}

.main-content .new-brand .mask-groub .description h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.main-content .new-brand .mask-groub .description h4{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #DB3022;
}

.main-content .new-brand .mask-groub .description span{
}

.main-content .new-brand .mask-groub .description .rating{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    align-self: center;
}

.main-content .new-brand .mask-groub .description .rating img{
    width: 13px;
    height: 12px;
}

.main-content .new-brand .mask-groub .description .rating span{
    font-size: 10px;
    line-height: 8px;
    color: #9B9B9B;
}